<aside class="aside">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/second">Second</a>
    </li>
    <li>
      <a href="/third">Third</a>
    </li>
    <li>
      <a href="/json" target="_blank">JSON</a>
    </li>
  </ul>
</aside>