<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
  <title>Express.js Test</title>
</head>
<body>
  <div class="homePage">
    <main class="main">
      <h2>Home Page</h2>
      <p>Hi, This is a test server, built with express.js and 
        <code>EJS</code> 
        templating engine. 
      </p>

      <p>
        <code>
          function add(a, b) {
            return a + b;
          }
        </code>
      </p>
    </main>
    <%- include('./asideMenu'); %>
  </div>
</body>
</html>