<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
  <title>Third</title>
</head>
<body>
  <div class="homePage">
    <main class="main">
      <h2>Third Page</h2>
      <p>Third page corresponding to path: /third !!</p>
    </main>
    <%- include('./asideMenu'); %>
  </div>
</body>
</html>